# Dependencies
node_modules
**/node_modules

# Build outputs
.next
**/dist
**/.turbo

# Git
.git
.gitignore

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.md
!README.md
